beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
darkdetect==0.7.1
future==1.0.0
idna==3.7
iso8601==2.1.0
jieba==0.42.1
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pyqt-frameless-window==0.0.85
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pyqtdarktheme==2.1.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
PyYAML==6.0.1
QtPy==2.4.1
requests==2.32.3
serial==0.0.97
six==1.16.0
soupsieve==2.5
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.2
